.info{
    display: flex;
}

#details {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 15vw;
}

#info-right {
    margin: 3vw;
}

#info-right-text{
    margin-top: 2vw;
}